*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
